<div class="article-container">

  {% unless page.no_header %}
    <div class="meta-container">
      <header>
        {% unless page.meta == false %}
          <a href="{{ root_url }}{{ post.url }}">
        {% endunless %}
        {% if index %}
          <h2 class="entry-title">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</h2>
        {% else %}
          <h2 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h2>
        {% endif %}
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y年%-m月%-d日" }}</time>
        <span class="meta-author">
          {% if post.author %}
            {% assign author_key = post.author %}
          {% elsif page.author %}
            {% assign author_key = page.author %}
          {% else %}
            {% assign author_key = site.author %}
          {% endif %}
          {% if author_key %}
            {% assign author = site.authors[author_key] %}
            {% if author %}
              · {{ author.name }}
            {% endif %}
          {% endif %}
        </span>
          </a>
      </header>
    </div>
  {% endunless %}

  <div class="content-container">
    {% if index %}
    {% if post.content contains '<!-- more -->' %}
        {{ post.content | split:'<!-- more -->' | first | strip_html | truncate: 100 }}
        <p><a href="{{ post.url }}">继续阅读 →</a></p>
    {% else %}
        {{ post.content | strip_html | truncate: 100 }}
        <p><a href="{{ post.url }}">继续阅读 →</a></p>
    {% endif %}

    {% else %}
      <div class="entry-content">{{ content }}</div>
    {% endif %}
  </div>


  <footer>
  </footer>

</div>
